<section class="jumbotron">
  <h1>Find My Bike</h1>
  <p>Register stolen bike locations and help raise awareness of troublespots around Sacramento</p>
</section>
<section class="container">
  <p>List of Bikes or Map goes here</p>
</section>
<section class="container">
  <%= render "map" %>
</section>
<footer>
  Copyright 2013 Mobirobo Rails Bootcamp
</footer>

